<!DOCTYPE html>
<html>
  <head>
    <title>Youcamp Geography Data</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if not @hide_nav %>
      <header class="site-header">
        <img src="/images/australia.svg" alt="Australia Geography Data">
        <nav class="main-nav">
          <%= link_to "Home", :home %>
          <%= link_to "States (#{State.count})", :states %>
          <%= link_to "Parks (#{Park.count})", :parks %>
          <%= link_to "Lakes (#{Lake.count})", :lakes %>
        </nav>
      </header>
      <div class="main-content">
    <% end %>
    <%= yield %>
    <% if not @hide_nav %>
      </div>
    <% end %>
  </body>
</html>
