<div id="map"></div>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 5,
      center: new google.maps.LatLng(-27.19, 130.039),
      mapTypeId: "terrain"
    });

    var script = document.createElement("script");
    script.src = "./parks.js";
    document.getElementsByTagName("head")[0].appendChild(script);

    var script = document.createElement("script");
    script.src = "./states.js";
    document.getElementsByTagName("head")[0].appendChild(script);
  }

  window.states_callback = function(results) {
    map.data.addGeoJson(results);
    map.data.setStyle({
      fillColor: "green"
    });
  };
  window.parks_callback = function(results) {
    map.data.setStyle(function(feature) {
      return {
        fillColor: feature.getProperty("STATE_NAME") ? "green" : "red",
        strokeWeight: 1
      };
    });
    for (var i = 0; i < results.length; i++) {
      const coords = results[i].location.coordinates;
      const latLng = new google.maps.LatLng(coords[1], coords[0]);
      map.data.addGeoJson({
        type: "Feature",
        properties: {
          name: results[i].name
        },
        geometry: results[i].geojson
      });
      const marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: results[i].name
      });
    }
  };
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD91EoAwa0vdQxTIuhguQ8XRTLYtZ47TzM&callback=initMap"
></script>
