<div class="d-flex flex-wrap align-items-center">
  <div>
    <h1>Australian Geography Data!</h1>
    <p>This project is for gathering geo spatial data on Australias National Parks, Lakes, States, etc.</p>
    <p>Also a project for me to learn Ruby on Rails.</p>
  </div>
  <img src="/images/australia.svg" alt="Australia" class="australia-img">
</div>
