<h1>Park List</h1>
<% @states.each do |state| %>
  <h2>
    <%= state.full_name %>
    <small><%= pluralize state.parks.size, "park" %></small>
  </h2>
  <ul>
    <% state.parks.each do |park| %>
      <li>
        <%= render park %>
      </li>
    <% end %>
  </ul>
<% end %>
