<div class="map-info">
  <h1><%= @park.name %> (<%= @park.state.abbrv_name %>)</h1>
  <span class="loader">Loading parks...</span>
  <p>Page rendered at: <time><%= Time.now() %></time></p>
  <dl>
    <dt>Coords</dt>
    <dd><%= @park.lat %> lat, <%= @park.lng %> lng</dd>
    <dt>Overview</dt>
    <dd><%= @park.overview || "N/A" %></dd>
    <dt>Website</dt>
    <dd><%= @park.official_url || "N/A" %></dd>
    <dt>Timezone</dt>
    <dd><%= @park.timezone || "N/A" %></dd>
    <dt>Area</dt>
    <dd><%= number_to_human @park.area %> km&sup2;</dd>
  </dl>
</div>
<div id="map"></div>
<pre style="word-wrap:break-word;white-space:normal;"></pre>
<script>
  var map;
  var loader = document.querySelector(".map-info .loader");
  async function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 5,
      center: new google.maps.LatLng(-27.19, 130.039),
      mapTypeId: "terrain"
    });

    map.data.setStyle({
      fillColor: "green",
      strokeWeight: 1
    });

    map.data.addGeoJson({
      type: "Feature",
      geometry: <%= @park.geojson.to_json.html_safe %>
    });

    const marker = new google.maps.Marker({
      position: { lat: <%= @park.lat %>, lng: <%= @park.lng %> },
      map: map,
      title: "<%= @park.name %>"
    });

    var bounds = new google.maps.LatLngBounds();
    map.data.forEach(function (feature) {
      feature.getGeometry().forEachLatLng(function (latlng) {
        bounds.extend(latlng);
      });
    });
    map.fitBounds(bounds, {top: 350, right: 350, bottom: 350, left: 350});
  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD91EoAwa0vdQxTIuhguQ8XRTLYtZ47TzM&callback=initMap"
></script>
