<div class="map-info">
  <h1><%= @state.full_name %> (<%= @state.abbrv_name %>)</h1>
  <span class="loader">Loading parks...</span>
  <p>Page rendered at: <time><%= Time.now() %></time></p>
  <dl>
    <dt>Coords</dt>
    <dd><%= @state.lat %> lat, <%= @state.lng %> lng</dd>
    <dt>Display Title</dt>
    <dd><%= @state.display_title || "N/A" %></dd>
    <dt>SEO Title</dt>
    <dd><%= @state.seo_title || "N/A" %></dd>
    <dt>SEO Description</dt>
    <dd><%= @state.seo_description || "N/A" %></dd>
    <dt>Parks</dt>
    <dd><%= @state.parks.size %></dd>
    <dt>Area</dt>
    <dd><%= number_to_human @state.area %> km&sup2;</dd>
  </dl>
</div>
<div id="map"></div>
<pre style="word-wrap:break-word;white-space:normal;"></pre>
<script>
  var map;
  var loader = document.querySelector(".map-info .loader");
  async function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 5,
      center: new google.maps.LatLng(-27.19, 130.039),
      mapTypeId: "terrain"
    });

    map.data.setStyle({
      fillColor: "green",
      strokeWeight: 1
    });

    map.data.addGeoJson({
      type: "Feature",
      geometry: <%= @state.geojson.html_safe %>
    });

    const marker = new google.maps.Marker({
      position: { lat: <%= @state.lat %>, lng: <%= @state.lng %> },
      map: map,
      title: "<%= @state.full_name %>"
    });

    var sw_corner = { lat: <%= @state.sw_lat %>, lng: <%= @state.sw_lng %> };
    var ne_corner = { lat: <%= @state.ne_lat %>, lng: <%= @state.ne_lng %> };
    var bounds = new google.maps.LatLngBounds(sw_corner, ne_corner);
    map.fitBounds(bounds);

    loader.classList.add("show");
    var parks = await fetch("/states/<%= @state.slug %>/parks").then(res =>
      res.json()
    );
    loader.classList.remove("show");

    for (const park of parks) {
      map.data.addGeoJson({
        type: "Feature",
        geometry: park.geojson
      });
      const marker = new google.maps.Marker({
        position: { lat: park.lat, lng: park.lng },
        map: map,
        title: park.name
      });
    }

    console.log("Loaded " + parks.length + " parks");
  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD91EoAwa0vdQxTIuhguQ8XRTLYtZ47TzM&callback=initMap"
></script>
