html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}
.site-header {
  display: flex;
  align-items: center;
  margin: 0 5%;
  padding: 1.5em 3em;
  background: #f4f4f4;
  border-bottom: 1px solid #dedede;
  img {
    max-width: 80px;
    margin-right: 40px;
  }
}
.main-nav {
  a {
    margin-right: 1em;
  }
}
.main-content {
  padding: 3em;
  background: #f4f4f4;
  margin: 0 5%;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
