.map-info {
  position: absolute;
  top: 60px;
  left: 10px;
  padding: 2em;
  z-index: 100;
  background: rgba(0, 0, 0, 0.45);
  border: 2px solid #000;
  color: #fff;
  border-radius: 5px;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  .loader {
    position: absolute;
    top: 0.5em;
    left: 50%;
    color: #9ae3ff;
    transform: translateX(-50%);
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
    &.show {
      opacity: 1;
    }
  }
  dl {
    display: grid;
    grid: auto-flow / auto 1fr;
  }
  dt {
    padding-right: 1em;
    opacity: 0.75;
    text-align: right;
  }
  dt,
  dd {
    margin: 0;
  }
}
